@charset "UTF-8";
#map {
	position: absolute;
	top: 88px;
	bottom: 0;
	width: 100%;
}

.geocoder { /* geocoder: ジオコード◇住所を地理座標（緯度と経度）で表したコード */
	position: absolute;
	z-index: 1;
	width: 20%;
	right: 4%;
	margin-left: -25%;
	top: 90px;
}

.mapboxgl-ctrl-geocoder {
	min-width: 100%;
}

.marker {
	background-image: url('../img/water.png');
	background-size: cover;
	width: 30px;
	height: 36px;
	cursor: pointer;
}

#menu {
	position: absolute;
	top:80%;
	left:30%;	
	background: #fff;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
}

#source {
	position: absolute;
/* 	top:70%; */
	right:5%;	
	bottom: 200px;
	background: #fff;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
}

.measure-result {
	background-color: white;
	border-radius: 3px;
	height: 16px;
	line-height: 16px;
	padding: 0 3px;
	font-size: 12px;
	box-shadow: 0 0 0 1px #ccc;
}

.close {
	cursor: pointer;
	width: 14px;
	height: 14px;
	line-height: 16px;
	text-align: center;
	padding: 0;
}

/* Drawing Sample */
.calculation-box {
	height: 85px;
	width: 150px;
	position: absolute;
	top: 20%;
	left: 50%;
	background-color: rgba(255, 000, 000, .9);
	padding: 15px;
	text-align: center;
}

